@{
    ViewData["Title"] = "Home Page";
}

<div class="welcome-container">
    <!--landing page buttons to guide the user
           REMOVE SAMPLE DATA IN PART 2

    -->
    <h2>Contract Monthly Claim System</h2>
        <img src="images\RC logo.jfif" />
    <div class="button-container">
        <button class="btn btn-primary" type="submit" >Register</button>
        <button class="btn btn-primary" type="submit"> Login</button>
    </div>
</div>
