@{
    ViewData["Title"] = "Login";
}
<!--login page will flow into registered role
        user will access functions according to rows
        IC will see and edit their personal details
        -submit a claim
        -view claim history in table format
        -view or edit claim
        PC will vefiy IC work hour and submitted clai
        AM will approve claim
           REMOVE SAMPLE DATA IN PART 2
    -->
<div class="form-container">
    <h3>Log In</h3>
    <h2>Enter your login details to access the system</h2>

    <form>
        <div class="field">
            <div class="input-field">
                <label>Username</label>
                <input type="email" placeholder="IC123456@rconect.edu.org" name="email" required />
            </div>
            <div class="input-field">
                <label>Password</label>
                <input type="password" placeholder="enter your password" name="****" required />
            </div>
           
            <button class="btn btn-primary" type="submit">Submit</button>
           <button class="btn btn-primary" type="submit">Back</button>
           </div>
          </form>
   </div>
